In [ ]:
import pandas as pd

df = pd.DataFrame({
    'country': ['Libya', 'Mesir', 'Moroko', 'Mesir', 'Moroko'],
    'age':[44, 34, 46, 35, 23],
    'salary':[72000, 65000, 98000, 45000, 34000]
})

df

  country  age  salary
0   Libya   44   72000
1   Mesir   34   65000
2  Moroko   46   98000
3   Mesir   35   45000
4  Moroko   23   34000

#Label Encoding using Scikit Learn

In [ ]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
df['country'] = label_encoder.fit_transform(df['country'])
df

   country  age  salary
0        0   44   72000
1        1   34   65000
2        2   46   98000
3        1   35   45000
4        2   23   34000

In [ ]:
label_encoder.classes_

array(['Libya', 'Mesir', 'Moroko'], dtype=object)

# One Hot Encoding

In [ ]:
import pandas as pd

df = pd.DataFrame({
    'country': ['Libya', 'Mesir', 'Moroko', 'Mesir', 'Moroko'],
    'age':[44, 34, 46, 35, 23],
    'salary':[72000, 65000, 98000, 45000, 34000]
})

df

  country  age  salary
0   Libya   44   72000
1   Mesir   34   65000
2  Moroko   46   98000
3   Mesir   35   45000
4  Moroko   23   34000

In [ ]:
X = df['country'].values.reshape(-1,1)
X

array([['Libya'],
       ['Mesir'],
       ['Moroko'],
       ['Mesir'],
       ['Moroko']], dtype=object)

In [ ]:
from sklearn.preprocessing import OneHotEncoder

onehot_encoder = OneHotEncoder()
X = onehot_encoder.fit_transform(X).toarray()
X

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [ ]:
onehot_encoder.categories_

[array(['Libya', 'Mesir', 'Moroko'], dtype=object)]

In [ ]:
df_onehot = pd.DataFrame(X, columns=[str(i) for i in range(X.shape[1])])
df_onehot

     0    1    2
0  1.0  0.0  0.0
1  0.0  1.0  0.0
2  0.0  0.0  1.0
3  0.0  1.0  0.0
4  0.0  0.0  1.0

In [ ]:
df = pd.concat([df_onehot, df], axis = 1)
df

     0    1    2 country  age  salary
0  1.0  0.0  0.0   Libya   44   72000
1  0.0  1.0  0.0   Mesir   34   65000
2  0.0  0.0  1.0  Moroko   46   98000
3  0.0  1.0  0.0   Mesir   35   45000
4  0.0  0.0  1.0  Moroko   23   34000

In [ ]:
df = df.drop(['country'], axis = 1)
df

     0    1    2  age  salary
0  1.0  0.0  0.0   44   72000
1  0.0  1.0  0.0   34   65000
2  0.0  0.0  1.0   46   98000
3  0.0  1.0  0.0   35   45000
4  0.0  0.0  1.0   23   34000